/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial;
    scroll-behavior: smooth;
}

/* Variables de couleurs */
:root {
    --dark-blue: #1E3A8A;
    --light-blue: #60A5FA;
    --light-gray: #F3F4F6;
    --dark-gray: #4B5563;
}

/* Style général */
.main-body {
    background-color: var(--light-gray);
    color: var(--dark-gray);
}



/* Style pour la page d'introduction */
.intro-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-blue); /* Bleu */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    z-index: 1000;
    transition: opacity 2s ease-out;
    opacity: 1;
}

.intro-page.hidden {
    opacity: 0;
    pointer-events: none; 
}

.main-content {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in;
}


.fade-in {
    opacity: 0; 
    animation: fadeInEffect 1s ease-in forwards;
}

@keyframes fadeInEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@media (max-width: 768px) {
    .intro-page {
        font-size: 1.5rem; 
        padding: 20px; 
        text-align: center;
    }

    .intro-page h1 {
        font-size: 1.8rem; 
    }
}


/* Barre de navigation */
header {
    background-color: var(--light-blue);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
}

header h1 {
    color: white;
    text-align: center;
    font-size: 2rem;
}

.navbar {
    background-color: var(--light-gray);
    top: 0;
    z-index: 1000;
    padding-top: 10px;
}

.navbar .container {
    background-color: var(--light-blue);
    display: flex;
    justify-content: space-between; /* Pour espacer les éléments */
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 100%;
    border-radius: 75px;
    margin: 10px 5px 10px 5px; /*haut droit bas gauche*/
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    margin-left: 60px;
    margin-right: 60px;
}

.logo-slogan {
    display: flex;
    align-items: center; 
    cursor: pointer;
}

.logo {
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.title-slogan {
    font-size: 22px;
    color: var(--dark-blue); /* Assurez-vous d'avoir défini cette variable */
}

.nav-links {
    font-size: 18px;
    list-style: none;
    display: flex;
    font-weight: bold;
    margin-left: auto; /* Ajoute cette ligne pour pousser la liste à droite */
    flex-grow: 1;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: var(--dark-gray);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 2px 2px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 850px) {
    .navbar .container {
        flex-direction: column;
        padding: 10px 20px;
        gap: 15px;
        border-radius: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .title-slogan {
        font-size: 18px;
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    
    .nav-links li {
        margin: 5px 0;
    }
}

/* Section de presentation */
.about-section-horizontal {
    justify-content: center;
    align-items: center;
    padding: 40px 60px 60px 60px;
    background-color: #f4f4f9;
    color: #333;
}

.about-container-horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    gap: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 40px 60px 40px 60px;
    background-color: #fff;
    max-width:  100%;
}

.title-container {
    text-align: center;
    margin-bottom: 20px;
}


.about-photo {
    flex-shrink: 0;
}

.about-image-round {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--light-gray);
}

.about-content-horizontal {
    flex: 1;
    text-align: left;
}

.console-container {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 50px;
    font-weight: bold;
    justify-content: center;
}

.console-underscore {
    font-size: 2.5rem;
    padding-top:10px;
}

#welcome-text {
    font-size: 3rem;
    font-weight: bold;
}

.about-presentation-title {
    margin-bottom:10px;
    border-bottom: 3px solid var(--dark-blue);
}

.about-presentation-desc {
    margin-top:20px;
}

.about-presentation h3 {
    color: var(--dark-blue);
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    
}

.about-span {
    color: var(--dark-blue);
}

.about-presentation p {
    margin: 15px 0;
    font-size: 1.1rem;
    line-height: 1.6;
}

.features-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    color: #0073e6;
    font-weight: 600;
    align-items: flex-start; /* Aligne les éléments à gauche (ou change pour center si besoin) */
}

.about-presentation-softskills {
    margin-top: 25px;
}

.about-presentation-softskills li:hover {
    transform: scale(1.2);
}
.features-list li {
    background-color: #f0f8ff;
    padding: 6px 12px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.features-list li:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}

.features-list i {
    color: #707070;
    margin-right: 8px;
    font-size:1.2em;
    transition: color 0.3s; 
}

.features-list li:hover i {
    color: #6e6e6e;
}

.button-group {
    display: flex;
    gap: 15px;
    margin-top: 25px;
}

.button-group a {
    cursor: pointer;
}
.cta-button-horizontal {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #0073e6;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-button-horizontal:hover {
    background-color: #005bb5;
}

/* Responsivité pour les petits écrans */
@media (max-width: 768px) {
    .about-section-horizontal {
        padding: 40px 20px 40px 20px;
    }

    .about-container-horizontal {
        flex-direction: column; /* Passage en colonne */
        align-items: center; /* Centre les éléments */
        padding: 20px; /* Réduit le padding */
        gap: 20px; /* Espace entre les éléments */
        padding: 40px 20px 40px 20px;
    }

    .about-photo {
        margin-bottom: 20px; /* Espace sous la photo */
    }

    .about-image-round {
        width: 130px; /* Taille réduite de la photo */
        height: 130px;
    }

    .about-content-horizontal {
        text-align: center; /* Centre le texte */
    }

    .console-container {
        font-size: 1.3rem;
        margin-bottom: 15px; /* Réduit l'espacement en bas */
    }

    .welcome-text {
        font-size: 1.4rem;
    }

    .console-underscore {
        font-size: 1em;
    }

    .about-presentation-title h3 {
        font-size: 1.4rem; /* Taille réduite pour le titre */
    }

    .features-list {
        grid-template-columns: 1fr; /* Affiche la liste en colonne unique */
        gap: 10px; /* Espace réduit entre les éléments */
    }

    .button-group {
        flex-direction: column; /* Place les boutons en colonne */
        gap: 10px; /* Espace entre les boutons */
    }

    .button-group a {
        width: 100%; /* Boutons en pleine largeur */
        text-align: center;
    }
}

@media (max-width: 480px) {
    .about-container-horizontal {
        padding: 15px; /* Réduit davantage le padding */
        padding: 40px 20px 40px 20px;
    }

    .about-image-round {
        width: 100px; /* Taille encore réduite pour les très petits écrans */
        height: 100px;
    }

    #welcome-text {
        font-size: 1.3rem; /* Taille de texte réduite pour le message de bienvenue */
    }

    .about-presentation-title h3 {
        font-size: 1.2rem; /* Réduit la taille du titre */
    }

    .about-presentation-desc {
        font-size: 0.9rem; /* Réduit la taille du texte de description */
    }
}



/* Section compétences */
.skills-section {
    padding: 60px 20px;
    background-color: #F3F4F6; 
}

.section-skills-title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
    color: #1E3A8A; 
}

.skills-container {
    max-width: 800px;
    margin: 0 auto;
}

.skill {
    margin-bottom: 20px;
}

.skill-name {
    font-size: 1.2rem;
    color: #4B5563;
    margin-bottom: 5px;
    display: block;
    margin-left:10px;
    font-weight: bold;
}

.skills-section .progress-bar {
    background-color: #E5E7EB;
    border-radius: 8px;
    overflow: hidden;
    height: 24px;
}

.skills-section .progress {
    background-color: #60A5FA;
    height: 100%;
    color: white;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
    border-radius: 8px 0 0 8px;
    transition: width 1s ease-in-out;
}

.progress {
    background-color: #60A5FA;
    height: 100%;
    color: white;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
    border-radius: 8px 0 0 8px;
    width: 0%; /* Commence à 0 */
    transition: width 1s ease-in-out;
}

/* Logo */
.marquee {
    overflow: hidden;
    white-space: nowrap;
    background-color: #e3f2fd;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 8px;
    margin: 75px 40px 75px 40px;
    position: relative;
    padding-top: 45px;
    padding-bottom: 45px;
}

.marquee-content {
    display: flex;
}

.logo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px; /* Taille uniforme pour toutes les boîtes */
    height: 120px;
    background-color: #ffffff;
    border: 2px solid #90caf9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin:0 20px;
}

.logo-box:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.logo-box img {
    width: 60px; /* Taille fixe pour chaque logo */
    height: auto; /* Maintient les proportions */
    margin-bottom: 8px;
}

.logo-box span {
    font-size: 0.85em;
    font-weight: bold;
    color: #1565c0;
    text-align: center;
}

.marquee:hover .marquee-content {
    animation-play-state: paused;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@media (max-width: 768px) {
    .marquee {
        margin: 75px 0;
    }
}



/* Section Formation */
.formation {
    background-color: var(--light-gray);
    padding-bottom: 60px;
    padding-top: 60px;
}

.formation-container {
    background: linear-gradient(to right, #e6f7ff, #d0efff, #b8e7ff); /* Couleurs plus douces */
    padding: 3rem 2rem; /* Utilise le padding au lieu de margin pour garder le fond */
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 1000px;
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    color: #2a4f74;
    font-weight: 700;
    margin-bottom: 2.5rem;
    position: relative;
}

.section-title::after {
    content: "";
    width: 60px;
    height: 4px;
    background-color: #2980b9;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
}

.school-info, .additional-info, .pbl-info {
    margin-bottom: 2rem;
}

.school-info h3, .pbl-info h4, .additional-info h3 {
    font-size: 1.8rem;
    color: #2c3e50;
    font-weight: 600;
    margin-bottom: 1rem;
    border-left: 4px solid #2980b9;
    padding-left: 10px;
}

.school-info p, .additional-info p, .pbl-info p {
    font-size: 1rem;
    color: #566573;
    line-height: 1.6;
    margin: 0.5rem 0;
}

.formation-image {
    display: flex; /* Utilise Flexbox pour centrer le contenu */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    margin-top: 1.5rem; /* Optionnel : Ajoute de l'espace en haut si nécessaire */
}

.formation-image img {
    width: 100%; /* L'image prend 100% de la largeur de son conteneur */
    max-width: 400px; /* Ajuste selon la taille que tu souhaites */
    height: auto; /* Garde le ratio d'aspect de l'image */
    object-fit: cover; /* S'assure que l'image remplit le conteneur sans être déformée */
    border-radius: 8px; /* Pour arrondir les coins si souhaité */
}

@media (max-width: 768px) {
    .formation-container {
        padding: 2rem 1rem;
        margin: auto 0;
    }

    .section-title {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .section-title::after {
        width: 50px;
        height: 3px;
    }

    .school-info h3, .pbl-info h4 {
        font-size: 1.5rem;
    }

    .school-info p, .additional-info p, .pbl-info p {
        font-size: 0.95rem;
    }
}

@media (max-width: 480px) {
    #formation {
        padding: 1.5rem 1rem;
    }

    .section-title {
        font-size: 1.8rem;
    }

    .school-info h3, .pbl-info h4 {
        font-size: 1.3rem;
    }

    .school-info p, .additional-info p, .pbl-info p {
        font-size: 0.9rem;
    }
}


/* Section Projets */
#projects {
    padding: 3rem 1rem;
    text-align: center;
    background-color: #f9f9f9;
    padding-bottom: 80px;
}

.section-project-title {
    font-size: 2.5rem;
    color: var(--dark-blue);
    margin-bottom: 50px;
}


.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 40px;
    max-width: 1250px;
    margin: 0 auto;
}

.project-card {
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.project-image {
    height: 180px;
    width: 100%;
    background-color: #e1e4e8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-image i {
    font-size: 3rem;
    color: var(--dark-blue);
}

.project-content {
    padding: 1.5rem;
    text-align: left;
    width: 100%;
}

.project-content h3 {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.project-content p {
    font-size: 0.95rem;
    color: #666;
}

.project-github-link {
    margin-top: 20px;
    text-align: center;
    font-size: 1.3rem;
    color: #555;
}

.project-github-link a {
    color: var(--light-blue);
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.project-github-link a:hover {
    color: var(--dark-blue);
}


@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
    .section-project-title {
        font-size: 2rem;
        margin-bottom: 30px;
    }
    
    .project-content h3 {
        font-size: 1.2rem;
    }
    
    .project-content p {
        font-size: 0.9rem;
    }
    
    .project-github-link {
        font-size: 0.95rem;
    }
}

@media (max-width: 480px) {
    .project-image {
        height: 150px;
    }
    
    .project-content h3 {
        font-size: 1.1rem;
    }
    
    .project-content p {
        font-size: 0.85rem;
    }
    
    .project-github-link {
        font-size: 0.9rem;
    }
}


/* Section de contact */
.contact-section {
    padding: 60px 20px;
    background-color: var(--light-gray);
}

.contact-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #1e3a8a; 
    text-align: center;
    margin-bottom: 50px; 
}

.contact-column {
    display: flex;
    flex-direction: column;
    gap: 100px;
    max-width: 1350px;
    margin: 0 auto;
}

@media(min-width: 768px) {
    .contact-column {
        flex-direction: row;
        align-items: stretch;
    }
}

.contact-info {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    max-height: 100%;
}

.contact-coordonnee {
    margin-bottom: 20px;
    font-size: 1.4rem;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
    color: var(--dark-gray); 
    margin-left:10px;
}

.contact-item i {
    font-size: 1.3rem;
    color: var(--dark-blue);
}

.contact-item .fa-brands {
    font-size: 1.8rem;
}

.contact-item a:hover i {
    color: var(--dark-gray);
    transform: scale(1.2);
}

.contact-sociallink {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.1rem;
    color: var(--dark-gray); 
    margin-left:10px;
}

.contact-sociallink i {
    font-size: 2.3rem;
    color: var(--dark-blue);
    margin-top: 15px;
}

.contact-sociallink a:hover i {
    color: var(--dark-gray);
    transform: scale(1.2);
}

.contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid var(--dark-gray);
    border-radius: 10px;
    font-size: 1rem;
}

.contact-form textarea {
    max-height:100%;
}

.contact-message {
    height: 110px;
    resize: none;
    flex:1;
}

.message-icon {
    margin-right:5px;
}

.contact-form button {
    padding: 12px 20px;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    align-items: center;
}

.contact-form button:hover {
    background-color: var(--dark-blue);
}

.contact-form button:active {
    background-color: var(--dark-gray);
}

.contact-cvbutton {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.cvbutton {
    display: inline-flex;
    align-items: center;
    gap: 8px; /* Espace entre l'icône et le texte */
    padding: 10px 20px;
    background-color: #0073e6;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    align-items: center;
}

.cvbutton:hover {
    background-color: #005bb5;
    transform: translateY(-2px);
}

.cvbutton i {
    font-size: 1rem;
    color: #fff;
}

.cvbutton a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}



@media (max-width: 768px) {
    .contact-info,
    .contact-form {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .contact-title {
        font-size: 2rem;
    }
    .contact-coordonnee {
        font-size: 1.2rem;
    }
    .contact-item {
        font-size: 1rem;
    }
    .contact-form button {
        font-size: 1rem;
    }
}


/* Footer */
footer {
    background-color: var(--dark-blue);
    padding: 1.5rem 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    max-width: 100%; 
    margin: 0 auto; 
    text-align: center; 
}

footer p {
    color: var(--light-gray);
    margin: 0 auto; 
}

/*Button pour revenir en haut*/

.back-to-top {
    position: fixed;
    bottom: 82px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: var(--dark-blue); /* Couleur du bouton */
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.back-to-top i {
    font-size: 0.8em;
}

.back-to-top.show {
    opacity: 1;
    visibility: visible;
    transition: transform 0.3s; /* Transition pour agrandir la flèche */
}

.back-to-top:hover {
    transform: scale(1.2); /* Agrandir le logo de 20% au survol */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Ombre portée */
}

.typing-animation {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    white-space: nowrap; /* Pour s'assurer que le texte reste sur une seule ligne */
    overflow: hidden;    /* Cache le texte débordant */
    border-right: 3px solid; /* Simule le curseur */
    width: 0;            /* La largeur commence à 0 pour l'animation */
    animation: typing 3s steps(30, end), blink-caret 0.6s step-end infinite;
}

