/* Style Globale Site */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial;
    scroll-behavior: smooth;
}

/* Variables Globales */
:root {
    --dark-blue: #1E3A8A;
    --light-blue: #60A5FA;
    --light-gray: #F3F4F6;
    --dark-gray: #4B5563;
}


/* Style général */
body {
    background-color: var(--light-gray);
    color: var(--dark-gray);
}


/* Style Page d'Introduction */
.page-intro {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--light-blue);
    color: white;
    font-size: 2rem;
    opacity: 1;
    transition: opacity 2s ease;
}

.page-intro.hidden {
    opacity: 0;
    pointer-events: none; 
}


.title-animation{
    opacity: 0; 
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@media (max-width: 850px) {
    .page-intro {
        font-size: 1.5rem; 
        padding: 20px; 
        text-align: center;
    }

    .title-animation {
        font-size: 1.8rem; 
    }
}


/* Effet Page Principale */
.main-content {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in;
}


/*--------------*/


/* Barre de navigation */
header {
    padding: 20px 0;
}

.navbar {
    padding-top: 10px;
}

.nav-container {
    background-color: var(--light-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    max-width: 100%;
    border-radius: 75px;
    margin: 10px 65px 10px 65px; /*haut droit bas gauche*/
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.nav-logo-slogan {
    display: flex;
    align-items: center; 
    cursor: pointer;
}

.nav-logo {
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.nav-title-slogan {
    font-size: 22px;
    color: var(--dark-blue); 
}

.nav-links {
    font-size: 18px;
    list-style: none;
    display: flex;
    margin-left: auto;
    font-weight: bold;
    flex-grow: 1;
    align-items: center;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    justify-items: center;
    align-items: center;
}

.nav-links a:hover {
    color: var(--dark-gray);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 2px 2px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 900px) {
    .nav-container {
        flex-direction: column;
        padding: 10px 20px;
        gap: 15px;
        border-radius: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .nav-title-slogan {
        font-size: 18px;
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    
    .nav-links li {
        margin: 5px 0;
    }
}


/* Section de presentation */
.about-section {
    justify-content: center;
    align-items: center;
    padding: 40px 60px 60px 60px;
    color: #333;
}

.title-container {
    text-align: center;
    margin-bottom: 20px;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    gap: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 40px 60px;
    background-color: #fff;
    margin: 0 auto;
}

.about-photo {
    flex-shrink: 0;
}

.about-image-round {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--light-gray);
    transform: scale(1.3) rotate(6deg);
}

.about-content {
    flex: 1;
    text-align: left;
}

.console-container {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 50px;
    font-weight: bold;
    justify-content: center;
}

.console-underscore {
    font-size: 2.5rem;
    padding-top:10px;
    height: 3rem;
}

#welcome-text {
    font-size: 3rem;
    font-weight: bold;
    height: 3rem;
}

.about-presentation-title {
    margin-bottom:10px;
    border-bottom: 3px solid var(--dark-blue);
}

.about-presentation-desc {
    margin-top:20px;
}

.about-presentation h3 {
    color: var(--dark-blue);
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    
}

.about-span {
    color: var(--dark-blue);
}

.about-presentation p {
    margin: 15px 0;
    font-size: 1.1rem;
    line-height: 1.6;
}

.features-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    color: #0073e6;
    font-weight: 600;
    align-items: flex-start;
}

.about-presentation-softskills {
    margin-top: 25px;
}

.about-presentation-softskills li:hover {
    transform: scale(1.2);
}

.features-list li {
    background-color: #f0f8ff;
    padding: 6px 12px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.features-list li:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}

.features-list i {
    color: #707070;
    margin-right: 8px;
    font-size:1.2em;
    transition: color 0.3s; 
}

.features-list li:hover i {
    color: #6e6e6e;
}

.about-button-group {
    display: flex;
    gap: 15px;
    margin-top: 25px;
}

.about-button-group a {
    cursor: pointer;
}
.about-button {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #0073e6;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.about-button:hover {
    background-color: #005bb5;
}

@media (max-width: 800px) {
    .about-section {
        padding: 40px 20px 40px 20px;
    }

    .about-container {
        flex-direction: column; 
        align-items: center;
        padding: 20px; 
        gap: 20px; 
        padding: 40px 20px 40px 20px;
    }

    .about-photo {
        margin-bottom: 20px; 
    }

    .about-image-round {
        width: 130px; 
        height: 130px;
    }

    .about-content {
        text-align: center; 
    }

    .console-container {
        font-size: 1.3rem;
        margin-bottom: 15px; 
    }

    #welcome-text {
        font-size: 2rem;
    }

    .console-underscore {
        height: 3rem;
        font-size: 1em;
    }

    .about-presentation-title h3 {
        font-size: 1.4rem; 
    }

    .about-presentation-softskills {
        justify-items: center;
    }

    .features-list {
        align-items: center;
        grid-template-columns: 1fr; 
        gap: 10px; 
    }

    .about-button-group {
        flex-direction: column; 
        gap: 10px; 
    }

    .about-button-group a {
        width: 100%; 
        text-align: center;
    }
}

@media (max-width: 480px) {
    .about-container {
        padding: 15px; 
        padding: 40px 20px 40px 20px;
    }

    .about-image-round {
        width: 100px; 
        height: 100px;
    }

    #welcome-text {
        font-size: 1.3rem; 
    }

    .about-presentation-title h3 {
        font-size: 1.2rem; 
    }

    .about-presentation-desc {
        font-size: 0.9rem; 
    }
}


/* Section Projets */
.projects {
    padding: 3rem 1rem;
    text-align: center;
    background-color: #f9f9f9;
    padding-bottom: 80px;
}

.project-title {
    font-size: 2.5rem;
    color: var(--dark-blue);
    margin-bottom: 50px;
}


.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 40px;
    max-width: 1250px;
    margin: 0 auto;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.project-card .project-image i {
    transition: transform 0.3s ease;
}

.project-card:hover .project-image i {
    transform: scale(1.1);
}

.project-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    width: 100%;
    background-color: #e1e4e8;
}

.project-image i {
    font-size: 3rem;
    color: var(--dark-blue);
}

.project-content {
    text-align: left;
    padding: 1.5rem;
    width: 100%;
}

.project-content h3 {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.project-content p {
    font-size: 0.95rem;
    color: #666;
}

.project-button {
    display: inline-block;
    padding: 8px 16px;
    margin-top: 10px;
    font-size: 0.9rem;
    color: #fff;
    background-color: var(--dark-blue);
    text-decoration: none;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.project-card:hover .project-button {
    opacity: 1;
    transform: translateY(0);
}

/* A venir */
.project-card-upcoming {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid var(--dark-blue);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.project-card-upcoming::before {
    content: "À venir";
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem 1rem;
    background: var(--dark-blue);
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 0 0 8px 0;
    opacity: 0.9;
}

.project-github-link {
    margin-top: 20px;
    text-align: center;
    font-size: 1.3rem;
    color: #555;
}

.project-github-link a {
    color: var(--light-blue);
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.project-github-link a:hover {
    color: var(--dark-blue);
}


@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
    .project-title {
        font-size: 2rem;
        margin-bottom: 30px;
    }
    
    .project-content h3 {
        font-size: 1.2rem;
    }
    
    .project-content p {
        font-size: 0.9rem;
    }
    
    .project-github-link {
        font-size: 0.95rem;
    }
}

@media (max-width: 480px) {
    .project-image {
        height: 150px;
    }
    
    .project-content h3 {
        font-size: 1.1rem;
    }
    
    .project-content p {
        font-size: 0.85rem;
    }
    
    .project-github-link {
        font-size: 0.9rem;
    }
}


/* Section compétences */
.skills-section {
    background-color: #F3F4F6;
    padding: 60px 20px;
}

.skills-section-title {
    text-align: center;
    font-size: 2.5rem;
    color: #1E3A8A;
    margin-bottom: 40px;
}

.skills-container {
    max-width: 800px;
    margin: 0 auto;
}

.skill {
    margin-bottom: 30px;
}

.skill-name {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    color: #4B5563;
    margin-bottom: 8px;
    margin-left: 10px;
}

.skill-info {
    position: relative;
}

/* Barre compétences exemple */

.skill-progress-bar, .skill-bar-example  {
    height: 30px;
    background-color: #f0f0f0;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
}

.skill-bar-example {
    margin-bottom: 70px;
}


.skill-level, .skill-level-example {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
}

.level, .level-example {
    flex: 1;
    text-align: center;
    font-size: 0.85rem;
    line-height: 30px;
    color: #fff;
    font-weight: 600;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    position: relative;
    transition: all 0.3s ease;
}

.level-example {
    cursor: help;
}

.level:not(:last-child), .level-example:not(:last-child) {
    border-right: 2px solid rgba(255,255,255,0.3);
}

.level:before, .level-example:before {
    content: attr(data-description);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
  
.level:hover:before, .level-example:hover:before {
    opacity: 1;
    visibility: visible;
}
  

.beginner {
    background-color: #4ade80;
}

.intermediate {
    background-color: #facc15; 
}

.advanced {
    background-color: #fb923c;
}

.expert {
    background-color: #ef4444; 
}

.skill-indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%);
    border-radius: 0 15px 15px 0;
    transition: width 1s ease-in-out;
}

.skill-level[data-level="1"] .level:nth-child(n+2) {
    opacity: 0.1;
}
  
.skill-level[data-level="2"] .level:nth-child(n+3) {
    opacity: 0.1;
}
  
.skill-level[data-level="3"] .level:nth-child(n+4) {
    opacity: 0.1;
}

/* Logo */
.skills-logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    background-color: #e3f2fd;
    padding: 65px 0;
    border-radius: 8px;
    margin: 75px 40px 75px 40px;
}

.skills-logo-content {
    display: flex;
}

.skill-logo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px; 
    height: 120px;
    background-color: #ffffff;
    border: 2px solid #90caf9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin:0 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-logo-box:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.skill-logo-box img {
    width: 60px; 
    height: auto; 
    margin-bottom: 8px;
}

.skill-logo-box span {
    font-size: 0.85em;
    font-weight: bold;
    color: #1565c0;
    text-align: center;
}

.skills-logo:hover .skills-logo-content {
    animation-play-state: paused;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@media (max-width: 768px) {
    .skills-logo {
        margin: 75px 0;
    }
}



/* Section Formation */
.formation {
    background-color: var(--light-gray);
    padding-bottom: 60px;
    padding-top: 60px;
}

.formation-container {
    background: linear-gradient(to right, #e6f7ff, #d0efff, #b8e7ff); 
    padding: 3rem 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 1000px;
}

.formation-title {
    text-align: center;
    font-size: 2.5rem;
    color: #2a4f74;
    font-weight: 700;
    margin-bottom: 2.5rem;
    position: relative;
}

.formation-title::after {
    content: "";
    width: 60px;
    height: 4px;
    background-color: #2980b9;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
}

.formation-school-info, .formation-additional-info, .formation-pbl-info {
    margin-bottom: 2rem;
}

.formation-school-info h3, .formation-pbl-info h4, .formation-additional-info h3 {
    font-size: 1.8rem;
    color: #2c3e50;
    font-weight: 600;
    margin-bottom: 1rem;
    border-left: 4px solid #2980b9;
    padding-left: 10px;
}

.formation-school-info p, .formation-additional-info p, .formation-pbl-info p {
    font-size: 1rem;
    color: #566573;
    line-height: 1.6;
    margin: 0.5rem 0;
}

.formation-container-image {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 1.5rem;
}

.formation-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    max-width: 400px; 
    height: auto;
    object-fit: cover; 
    border-radius: 8px; 
}

@media (max-width: 768px) {
    .formation {
        padding: auto 0;
    }

    .formation-container {
        padding: 2rem 1rem;
    }

    .formation-title {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .formation-title::after {
        width: 50px;
        height: 3px;
    }

    .formation-school-info h3, .formation-pbl-info h4 {
        font-size: 1.5rem;
    }

    .formation-school-info p, .formation-additional-info p, .formation-pbl-info p {
        font-size: 0.95rem;
    }
}

@media (max-width: 480px) {
    #formation {
        padding: 1.5rem 1rem;
    }

    .formation-title {
        font-size: 1.8rem;
    }

    .formation-school-info h3, .formation-pbl-info h4 {
        font-size: 1.3rem;
    }

    .formation-school-info p, .formation-additional-info p, .formation-pbl-info p {
        font-size: 0.9rem;
    }
}


/* Section Projets */
.projects {
    padding: 3rem 1rem;
    text-align: center;
    background-color: #f9f9f9;
    padding-bottom: 80px;
}

.project-title {
    font-size: 2.5rem;
    color: var(--dark-blue);
    margin-bottom: 50px;
}


.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 40px;
    max-width: 1250px;
    margin: 0 auto;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.project-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    width: 100%;
    background-color: #e1e4e8;
}

.project-image i {
    font-size: 3rem;
    color: var(--dark-blue);
}

.project-content {
    text-align: left;
    padding: 1.5rem;
    width: 100%;
}

.project-content h3 {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.project-content p {
    font-size: 0.95rem;
    color: #666;
}

.project-github-link {
    margin-top: 20px;
    text-align: center;
    font-size: 1.3rem;
    color: #555;
}

.project-github-link a {
    color: var(--light-blue);
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.project-github-link a:hover {
    color: var(--dark-blue);
}


@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
    .project-title {
        font-size: 2rem;
        margin-bottom: 30px;
    }
    
    .project-content h3 {
        font-size: 1.2rem;
    }
    
    .project-content p {
        font-size: 0.9rem;
    }
    
    .project-github-link {
        font-size: 0.95rem;
    }
}

@media (max-width: 480px) {
    .project-image {
        height: 150px;
    }
    
    .project-content h3 {
        font-size: 1.1rem;
    }
    
    .project-content p {
        font-size: 0.85rem;
    }
    
    .project-github-link {
        font-size: 0.9rem;
    }
}


/* Section de contact */
.contact-section {
    padding: 60px 20px;
    background-color: var(--light-gray);
}

.contact-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #1e3a8a; 
    margin-bottom: 50px; 
}

.contact-column {
    display: flex;
    flex-direction: column;
    gap: 100px;
    max-width: 1350px;
    margin: 0 auto;
}

.contact-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1;
    gap: 15px;
    max-height: 100%;
}

.contact-coordonnee {
    margin-bottom: 20px;
    font-size: 1.4rem;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
    color: var(--dark-gray); 
    margin-left:10px;
}

.contact-item i {
    font-size: 1.3rem;
    color: var(--dark-blue);
}

.contact-item /*a:hover*/ i {
    color: var(--dark-gray);
    transform: scale(1.2);
}

.contact-sociallink {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.1rem;
    color: var(--dark-gray); 
    margin-left:10px;
}

.contact-sociallink i {
    font-size: 2.3rem;
    color: var(--dark-blue);
    margin-top: 15px;
}

.contact-sociallink a:hover i {
    color: var(--dark-gray);
    transform: scale(1.2);
}

.contact-cv {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.contact-cvbutton {
    display: inline-flex;
    align-items: center;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    background-color: #0073e6;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.contact-cvbutton:hover {
    background-color: #005bb5;
    transform: translateY(-2px);
}

.contact-cvbutton i {
    font-size: 1rem;
    color: #fff;
}

.contact-cvbutton a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}


.contact-form {
    flex: 1;
    flex-direction: column;
    display: flex;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid var(--dark-gray);
    border-radius: 10px;
    font-size: 1rem;
}

.contact-form textarea {
    max-height:100%;
}

.contact-message {
    height: 110px;
    resize: none;
    flex:1;
}

.contact-message-icon {
    margin-right:5px;
}

.contact-form button {
    align-items: center;
    padding: 12px 20px;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: var(--dark-blue);
}

.contact-form button:active {
    background-color: var(--dark-gray);
}

@media(min-width: 768px) {
    .contact-column {
        flex-direction: row;
        align-items: stretch;
    }
}

@media (max-width: 768px) {
    .contact-info,
    .contact-form {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .contact-title {
        font-size: 2rem;
    }
    .contact-coordonnee {
        font-size: 1.2rem;
    }
    .contact-item {
        font-size: 1rem;
    }
    .contact-form button {
        font-size: 1rem;
    }
}


/*Button retour en haut*/
.back-to-top {
    position: fixed;
    bottom: 82px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: var(--dark-blue);
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.back-to-top i {
    font-size: 0.8em;
}

.back-to-top.show {
    opacity: 1;
    visibility: visible;
    transition: transform 0.3s;
}

.back-to-top:hover {
    transform: scale(1.2); 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}


/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    padding: 1.5rem 0;
}

.footer-container {
    text-align: center; 
    max-width: 100%; 
    margin: 0 auto; 
}

footer p {
    color: var(--light-gray);
    margin: 0 auto; 
}